* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #000000;
}

.rt-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  user-select: none;
}

.rt-resizable {
  position: relative;
}

.ant-table-thead th {
  position: relative;
  overflow: visible !important;
}
